<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <!--<bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITransferService" />
            </basicHttpBinding>
        </bindings>-->
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ITransferService" allowCookies="true"
						 maxReceivedMessageSize="20000000"
						 maxBufferSize="20000000"
						 maxBufferPoolSize="20000000">
					<readerQuotas maxDepth="32"
						 maxArrayLength="200000000"
						 maxStringContentLength="200000000"/>
				</binding>
			</basicHttpBinding>
		</bindings>
        <client>
            <endpoint address="http://localhost:52534/TransferService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransferService"
                contract="FileTransferService.ITransferService" name="BasicHttpBinding_ITransferService" />
        </client>
    </system.serviceModel>
</configuration>